@@include('../Shared/header.html', { "style": [ "assets/css/Pages/homepage.css" ] })
<div class="homepage">
  <section class="big-hero">
    <div class="container">
      <div class="banner-title">
        <strong>
          Kerja Bersama -- <span>3 Tahun Jokowi-JK</span>
        </strong>
        <h1>Pembangunan <br/>untuk Pemerataan<br/> yang Berkeadilan</h1>
        <p>
          Pemerintahan Presiden Joko Widodo dan Wakil Presiden Jusuf Kalla telah berjalan tiga tahun. Berbagai upaya dilakukan untuk menciptakan pemerataan yang berkeadilan. Mulai dari aspek pembangunan ekonomi dan peningkatan produktivitas; politik, hukum, keamanan, dan kebudayaan; pengentasan kemiskinan dan kebijakan afirmatif; serta aspek kewilayahan.
        </p>
      </div>
    </div>
  </section>
  <section class="gridImages">
    <div class="container">
      <ul class="listImg">
        <li>
          <a href="">
            <img src="assets/images/infograph/infograph1.jpg" alt="">
          </a>
          <h4>Lorem Ipsum Dolor Sit Amet</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
          </p>
        </li>
        <li>
          <a href="">
            <img src="assets/images/infograph/infograph2.jpg" alt="">
          </a>
          <h4>Lorem Ipsum Dolor Sit Amet</h4>
          <p>
              Lorem ipsum dolor sit amet consectetur
            </p>
        </li>
        <li>
          <a href="">
            <img src="assets/images/infograph/infograph3.jpg" alt="">
          </a>
          <h4>Lorem Ipsum Dolor Sit Amet</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo? 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
          </p>
        </li>
        <li>
            <a href="">
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph3.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph3.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph1.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph2.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
          <li>
            <a href="">
              <img src="assets/images/infograph/infograph3.jpg" alt="">
            </a>
            <h4>Lorem Ipsum Dolor Sit Amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia itaque doloremque provident commo?
            </p>
          </li>
      </ul>
    </div>
  </section>
</div>

@@include('../Shared/footer.html')
