@@include('../Shared/header-oil-gas.html', { "style": [ "assets/css/pages/newsletter-oil-gas.css" ] })
<div class="newsletter oil-gas">
  <div class="second-header">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-8 col-md-offset-2">
				  <div class="wrapper-sec-head">
						<h1>Oil &amp; Gas Newsletter</h1>
						<a href="">View in browser »</a>
					  <date class="hidden-xs">
						  Friday, 1 February 2018
					  </date>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
  
  <section class="nl-oil-gas-content">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-8 col-md-offset-2">
				  <div class="greeting-nl">
					  <strong>Good Morning</strong>
					  <p>Here are today’s exclusive updates from oil and gas industry. </p>
				  </div>
				  <div class="hl-nl-oil-gas">
					  <article>
						  <h2>
							  	<a href="">
									Ministry Evaluates Future of Kalyani Block »
								</a>
						  </h2>
						  <figure>
							  <img src="assets/images/hl-nl-oil-gas-pict.jpg" alt="">
						  </figure>
						  <p>
								The Ministry of Energy and Mineral Resources is evaluating the contract for the Kalyani block, located in the provinces of South Sumatera and Jambi. The block’s exportation period ended on 19 December 2017. The Upstream Oil and Gas Regulatory Special Task Force (SKK Migas) has sent a letter to the ministry about the status of the block. According to information obtained by katadata.co.id, the exploration phase of the block was only six years. Government Regulation 35/2004 on upstream oil and gas activities states that the exploration period of a joint work contract is six years, which can be extended once for a period of four years on the request of the contractor.
						  </p>
						  <p>
								The condition is that the contractor must meet the minimum requirements for a production sharing contract, approved by the executing agency (currently SKK Migas). The Kalyani block contract was signed on 19 December 2011 between Eurorich Group Limited and BP Migas. A year later, Sughi acquired 51 percent of Eurorich shares. The Kalyani block contract is valid until 2041. As of June 2015, the contractor had completed a G&amp;G study and an environmental baseline assessment (EBA). A 200-kilometre 2D seismic survey has also been carried out in the Tempino and Betayan areas. 
						  </p>
					  </article>
					  <a href="#" class="btn btn-blue">Read full article in Indonesian »</a>
				  </div>
				  <div>
					  <ul class="oil-gas-list">
						  <li>
							  <h3>
									<a href="">
										January ICP Hits Highest Level since 2015 »
									</a>
							  </h3>
							  <p>
									The Indonesian Crude Price (ICP) hit US$ 65.59 per barrel in January, its highest since 2015. ICP reached its highest ever in November 2014, at US$ 75.4 per barrel. Average ICP was US$ 49.20 per barrel in 2015, US$ 40.13 in 2016, and US$ 51.19 in 2017. This increase coincides with a surge in prime oil prices on the international market. WTI for March 2018 contracts is US$ 65.87 per barrel, and Brent tipped US$ 69.59 per barrel for April contracts.
							  </p>
							  <p>
									Other reasons behind the hike in global oil prices include an average drop in global crude and other liquid fuel stocks of 0.4 million barrels per day in 2017. OPEC is still trying to restrict stocks, as decided at a meeting in Vienna on 30 November last year. The geopolitical situation in the Middle East continues to heat up and demand for crude in China is rising.
							  </p>
							  <a href="#" class="btn btn-blue">Read full article in Indonesian »</a>
						  </li>
						  <li>
								<h3>
									<a href="">
										January ICP Hits Highest Level since 2015 »
									</a>
								</h3>
								<p>
									 The Indonesian Crude Price (ICP) hit US$ 65.59 per barrel in January, its highest since 2015. ICP reached its highest ever in November 2014, at US$ 75.4 per barrel. Average ICP was US$ 49.20 per barrel in 2015, US$ 40.13 in 2016, and US$ 51.19 in 2017. This increase coincides with a surge in prime oil prices on the international market. WTI for March 2018 contracts is US$ 65.87 per barrel, and Brent tipped US$ 69.59 per barrel for April contracts.
								</p>
								<p>
									 Other reasons behind the hike in global oil prices include an average drop in global crude and other liquid fuel stocks of 0.4 million barrels per day in 2017. OPEC is still trying to restrict stocks, as decided at a meeting in Vienna on 30 November last year. The geopolitical situation in the Middle East continues to heat up and demand for crude in China is rising.
								</p>
								<a href="#" class="btn btn-blue">Read full article in Indonesian »</a>
							</li>
							<li>
								<h3>
									<a href="">
										January ICP Hits Highest Level since 2015 »
									</a>
								</h3>
								<p>
										The Indonesian Crude Price (ICP) hit US$ 65.59 per barrel in January, its highest since 2015. ICP reached its highest ever in November 2014, at US$ 75.4 per barrel. Average ICP was US$ 49.20 per barrel in 2015, US$ 40.13 in 2016, and US$ 51.19 in 2017. This increase coincides with a surge in prime oil prices on the international market. WTI for March 2018 contracts is US$ 65.87 per barrel, and Brent tipped US$ 69.59 per barrel for April contracts.
								</p>
								<p>
										Other reasons behind the hike in global oil prices include an average drop in global crude and other liquid fuel stocks of 0.4 million barrels per day in 2017. OPEC is still trying to restrict stocks, as decided at a meeting in Vienna on 30 November last year. The geopolitical situation in the Middle East continues to heat up and demand for crude in China is rising.
								</p>
								<a href="#" class="btn btn-blue">Read full article in Indonesian »</a>
							</li>
					  </ul>
					  <div class="nl-monitoring">
						  <strong>Monitoring</strong>
						  <article>
							  <h3>
									January ICP Hits Highest Level since 2015 »
							  </h3>
							  <p>
									Oil prices on Monday extended declines from the end of last week on the back of a stronger dollar, with Brent crude falling to its lowest in nearly a month. Other markets dropped as investors were spooked by Friday’s U.S. payrolls report which showed wages growing at their fastest pace in more than 8-1/2 years, fuelling inflation expectations. That drove the greenback higher, which puts pressure on oil as the commodity is priced in dollars.
							  </p>
							  <p>
									As reported in Reuters, Brent LCOc1 was down 75 cents, or 1.1 percent, at $67.83 a barrel at 0033 GMT, after falling 1.5 percent on Friday. U.S. West Texas Intermediate (WTI) crude CLc1 declined 66 cents to $64.79, after dropping 0.5 percent in the previous session. An index of the dollar against a basket of currencies .DXY rose to as high as around 89.38, approaching peaks reached on Friday. Rising U.S. oil production is also pushing down prices, undermining attempts by the Organization of the Petroleum Exporting Countries (OPEC) to support prices.
							  </p>
						  </article>
						  <article>
							  <h3>
									BP Plans to Drill in Nova Scotia
							  </h3>
							  <p>
									Pertamina Drilling Service Indonesia (PDSI) is to procure an additional six cyber rigs this year, due to high demand for drilling using cyber rigs. The rigs will include three 1,500 (horsepower) HP units and three 1,000 HP units. Cyber rigs are rigs that can be accurately operated and controlled by a computer system. The US-manufactured rigs are the cutting-edge of drilling, offering features such as touchscreen operating systems.
							  </p>
							  <p>
									This technology allows a single monitor to operate all equipment, as well as providing information on drilling activities using an alarm and warning system. Cyber rigs also have systems that can be operated by one person, with the support of five 600 volt generators. PDSI currently has ten cyber rigs, purchased since 2011 to work on a number of exploration projects.
							  </p>
						  </article>
						  <article>
							  <h3>Portugal's Partex to be Sold</h3>
							  <p>
									Pertamina Drilling Service Indonesia (PDSI) is to procure an additional six cyber rigs this year, due to high demand for drilling using cyber rigs. The rigs will include three 1,500 (horsepower) HP units and three 1,000 HP units. Cyber rigs are rigs that can be accurately operated and controlled by a computer system. The US-manufactured rigs are the cutting-edge of drilling, offering features such as touchscreen operating systems.
							  </p>
							  <p>
									This technology allows a single monitor to operate all equipment, as well as providing information on drilling activities using an alarm and warning system. Cyber rigs also have systems that can be operated by one person, with the support of five 600 volt generators. PDSI currently has ten cyber rigs, purchased since 2011 to work on a number of exploration projects.
							  </p>
							  <h3>Big Oil Companies Announces Deepwater Discoveries</h3>
							  <p>
									Pertamina Drilling Service Indonesia (PDSI) is to procure an additional six cyber rigs this year, due to high demand for drilling using cyber rigs. The rigs will include three 1,500 (horsepower) HP units and three 1,000 HP units. Cyber rigs are rigs that can be accurately operated and controlled by a computer system. The US-manufactured rigs are the cutting-edge of drilling, offering features such as touchscreen operating systems.
							  </p>
							  <p>
									This technology allows a single monitor to operate all equipment, as well as providing information on drilling activities using an alarm and warning system. Cyber rigs also have systems that can be operated by one person, with the support of five 600 volt generators. PDSI currently has ten cyber rigs, purchased since 2011 to work on a number of exploration projects.
							  </p>
						  </article>
					  </div>
					  <a href="" class="btn btn-green-sea">
							<span class="hidden-xs">Simak berita terkini lainnya dari <strong>Katadata.co.id »</strong></span>
							<span class="visible-xs">View all issue from <strong>Katadata.co.id »</strong></span>
						</a>
					</div>
			  </div>
		  </div>
	  </div>
  </section>
  <section class="go-subscribe">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <p>
                      Dapatkan juga update seputar dunia migas dengan berlangganan <strong>Oil and Gas Newsletter</strong>, atau beragam artikel mendalam seputar ekonomi, bisnis, dan current issues dengan berlangganan <strong>Newsletter D-Inside</strong>
                  </p>
                <div class="row margin-top-20 margin-bottom-25">
                    <div class="col-md-12">
                        <div class="col-md-6 margin-bottom-10">
                            <a href="" class="btn btn-block btn-blue-old">Langganan Oil and Gas Newsletter</a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-block btn-blue">Langganan D-Inside Newsletter</a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>

@@include('../Shared/footer2.html')