@@include('../Shared/header-daily.html', { "style": [ "assets/css/pages/newsletter.css" ] })
<div class="newsletter">
  <div class="second-header">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
              <div class="wrapper-sec-head">
                 <date>
                    Jumat, 23 November 2017
                 </date>
                 <h1>Daily Newsletter</h1>
              </div>
           </div>
        </div>
     </div>
  </div>
  <section class="headline-nl">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
              <h2>
                  <a href="#">Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum</a>
              </h2>
              <article>
                 <figure>
                    <img src="assets/images/hl-nl.jpg" alt="">
                 </figure>
                 <p>
                     Negara tetap memiliki kontrol terhadap ketiga perusahaan itu, baik secara langsung melalui saham dwi warna, maupun tidak langsung melalui Inalum.
                 </p>
                 <a href="">Selengkapnya</a>
              </article>
           </div>
        </div>
     </div>
  </section>
  <section class="nl-list">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
               <ul>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
                              <a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                  </ul>
                  <a href="" class="btn btn-green-sea">
                        <span class="hidden-xs">Simak berita terkini lainnya dari <strong>Katadata.co.id »</strong></span>
                        <span class="visible-xs">Berita lainnya dari <strong>Katadata.co.id »</strong></span>
                  </a>
           </div>
        </div>
     </div>
  </section>
  <section class="go-subscribe">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <p>
                      Dapatkan juga update seputar dunia migas dengan berlangganan <strong>Oil and Gas Newsletter</strong>, atau beragam artikel mendalam seputar ekonomi, bisnis, dan current issues dengan berlangganan <strong>Newsletter D-Inside</strong>
                  </p>
                <div class="row margin-top-20 margin-bottom-25">
                    <div class="col-md-12">
                        <div class="col-md-6 margin-bottom-10">
                            <a href="" class="btn btn-block btn-blue-old">Langganan Oil and Gas Newsletter</a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-block btn-blue">Langganan D-Inside Newsletter</a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>

@@include('../Shared/footer2.html')