<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Daily Newsletter</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/fasvicons/favicon-16x16.png" sizes="16x16">
    <!-- Bootstrap -->
    <link href="assets/css/vendor.min.css" rel="stylesheet">
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    
      
        <link href="assets/css/pages/newsletter.css" rel="stylesheet">
      
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="main-wrapping">

      <!-- HEADER -->
      <header class="site-header-daily">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="assets/images/newsletter-kd-logo.png" class="nl-kd-logo" />
              <a href="#" class="hidden-xs">http://katadata.co.id</a>
            </div>
          </div>
        </div>
      </header>
      <!-- HEADER -->


      <!-- CONTAINER -->
      <main class="site-container2">

<div class="newsletter">
  <div class="second-header">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
              <div class="wrapper-sec-head">
                 <date>
                    Jumat, 23 November 2017
                 </date>
                 <h1>Daily Newsletter</h1>
              </div>
           </div>
        </div>
     </div>
  </div>
  <section class="headline-nl">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
              <h2>
                  <a href="#">Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum</a>
              </h2>
              <article>
                 <figure>
                    <img src="assets/images/hl-nl.jpg" alt="">
                 </figure>
                 <p>
                     Negara tetap memiliki kontrol terhadap ketiga perusahaan itu, baik secara langsung melalui saham dwi warna, maupun tidak langsung melalui Inalum.
                 </p>
                 <a href="">Selengkapnya</a>
              </article>
           </div>
        </div>
     </div>
  </section>
  <section class="nl-list">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-md-offset-2">
               <ul>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
                              <a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                     <li>
                        <article>
                           <figure>
                              <img src="assets/images/pln-pict.jpg" alt="">
                           </figure>
                           <p>
										<a href="">
											Menteri Rini Resmi Alihkan Saham 3 BUMN Tambang dan Freeport ke Inalum
										</a>
                           </p>
                           <a href="">Selengkapnya »</a>
                        </article>
                     </li>
                  </ul>
                  <a href="" class="btn btn-green-sea">
                        <span class="hidden-xs">Simak berita terkini lainnya dari <strong>Katadata.co.id »</strong></span>
                        <span class="visible-xs">Berita lainnya dari <strong>Katadata.co.id »</strong></span>
                  </a>
           </div>
        </div>
     </div>
  </section>
  <section class="go-subscribe">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <p>
                      Dapatkan juga update seputar dunia migas dengan berlangganan <strong>Oil and Gas Newsletter</strong>, atau beragam artikel mendalam seputar ekonomi, bisnis, dan current issues dengan berlangganan <strong>Newsletter D-Inside</strong>
                  </p>
                <div class="row margin-top-20 margin-bottom-25">
                    <div class="col-md-12">
                        <div class="col-md-6 margin-bottom-10">
                            <a href="" class="btn btn-block btn-blue-old">Langganan Oil and Gas Newsletter</a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="btn btn-block btn-blue">Langganan D-Inside Newsletter</a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>

      </main>
      <!-- CONTAINER -->

      <!-- FOOTER -->
      <footer class="site-footer2">
        <p>©2017 Katadata. All rights reserved.</p>
        <strong>Mailing Address:</strong>
        <p class="margin-bottom-15">Katadata.co.id <br/>Rukan Permata Senayan Blok D 31, Jl Tentara Pelajar<br/>
          South Jakarta 12210<br/>Indonesia
        </p>
        <a href="" class="btn btn-orange margin-bottom-15">Add us to your address book</a>
        <p>
          Want to change how you receive these emails?<br/> You can <a href="">update your preferences</a> or <a href="">unsubscribe from this list.</a>
        </p>
      </footer>
      <!-- FOOTER -->
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    
    

  </body>
</html>